{% extends 'default_frame.twig' %}

{% set body_class = 'mypage mymenu_page' %}

{# mymenu 専用スタイルは customize.css へ集約済み #}

{% block main %}
<main id="mymenu">
<div class="container">


    <div class="ec-layoutRole__main">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>マイページ</h1>
            </div>
            <p class="mymenu_intro">{% if is_granted('ROLE_USER') %}{{ app.user.name01 }} {{ app.user.name02 }} さん、{% else %}{% endif %}紋別市ふるさと納税総合サイトをご利用いただきありがとうございます。</p>
        </div>
        <div class="ec-mypageRole">
            <div class="my-menu_list use_list">
                <h2>利用履歴</h2>
                <ul>
                    <a href="{{ url('mypage') }}"><li>お申込履歴</li></a>
                    <a href="{{ url('mypage_favorite') }}"><li>お気に入り一覧</li></a>
                </ul>
            </div>
            <div class="my-menu_list info_list">
                <h2>ユーザー情報設定</h2>
                <ul>
                    <a href="{{ url('mypage_change') }}"><li>お申込者情報（会員情報）変更</li></a>
                    <a href="{{ url('mypage_delivery') }}"><li>お届け先一覧</li></a>
                </ul>
            </div>
            <div class="my-menu_list other_list">
                <h2>その他</h2>
                <ul>
                    <a href="{{ url('contact') }}"><li>お問い合わせ</li></a>
                    <a href="{{ url('mypage_withdraw') }}"><li>退会手続き</li></a>
                </ul>
            </div>
            <a href="https://mypg.jp/" target="_blank" class="bnr"><img src="{{ asset('assets/img/bnr_mypgjp.png', 'user_data') }}"></a>
            
        </div>
    </div>
    
</div>
</main>
{% endblock %}