{% extends 'default_frame.twig' %}

{% block javascript %}{% endblock %}

{# blog/list スタイルは customize.css へ集約済み #}
{% block main %}
<main id="about">
<div class="container">

    <div class="ec-role pluginCMBblog">
        <div class="w-100">
            <div class="ec-searchnavRole__topicpath">
                <ol class="ec-topicpath list_blog_cat">
                    <li class="ec-topicpath__item">
                        <a href="{{ url('cm_blog_pro_page_list') }}">{{ '全て'|trans }}</a>
                    </li>
                    {% for category in categories %}
                
                    <li class="{{category.class}}">
                        <a href="{{ url('cm_blog_pro_page_list', {categories: [category.getId()]}) }}" class="list_category_link">
                            {{ category.getName|raw }}
                        </a>
                    </li>
                    {% endfor %}
                </ol>
            </div>
    
            {% if pagination.totalItemCount > 0 %}
                <div class="ec-shelfRole" style="padding-top: 20px">
                    <ul class="ec-shelfGrid list_blog">
                        {% for blog in pagination %}
                        <li class="ec-shelfGrid__item">
                            <a href="{{ url('cm_blog_pro_page_detail', {'id': blog.slug ? blog.slug : blog.id}) }}">
                                <figure class="figure__main_image">
                                    {% if blog.getMainListImage %}
                                        <img src="{{ asset(blog.getMainListImage|no_image_product, 'save_image') }}" class='item_blog_image'></img>
                                    {% else %}
                                        <img src="{{ asset(''|no_image_product, 'save_image') }}" class='item_blog_image'></img>
                                    {% endif %}
                                    {% if blog.getFigCaption %}
                                        <figcaption>{{ blog.getFigCaption }}</figcaption>
                                    {% endif %}
                                </figure>
                            </a>
                            <h3 class="blog_title_h3">{{ blog.getTitle|length > 45 ? blog.getTitle|striptags|replace({('&nbsp;'):' '})|slice(0, 45)|raw ~ '...' : blog.getTitle|raw }}</h3>  
                            <div class="blog_release_date">公開日：{{ blog.release_date|date('Y年m月d日')}}</div>
                            <ul class="blog_category">
                                    {% for category in blog.getBlogCategories %}
                                        <li class="{{category.getCategory.class}}">
                                            <a href="{{ url('cm_blog_pro_page_list', {categories: [category.getCategory().getId()]}) }}" class="list_category_link">
                                            {{ category.getCategory.getName|length > 15 ? category.getCategory.getName|striptags|replace({('&nbsp;'):' '})|slice(0, 15)|raw ~ '...' : category.getCategory.getName|raw }}
                                            </a>
                                        </li>
                                    {% endfor %}        
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ec-pagerRole">
                    {% include "pager.twig" with {'pages': pagination.paginationData, 'routes' : 'cm_blog_pro_page_list'} %}
                </div>
            {% endif %}
        </div>
        <div class="side-bar">
            <div class="mt-65 month-archive">
                <h5 class="tag-header">{{ 'plg.CMBlogPro.blog.month_archive'|trans }}</h5>
                <div class="archive-link-div">
                    {% for key, month in monthArr %}
                        <a href="{{ url('cm_blog_pro_page_list', {date: key}) }}">{{ month }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> 

</div>
</main>
{% endblock %}