{% set config = repository('Plugin\\CMBlogPro\\Entity\\Config').get() %}
{% set blogs = repository('Plugin\\CMBlogPro\\Entity\\Blog').getList() %}

{% block javascript %}{% endblock %}

{# cm_blog_block_pro スタイルは customize.css へ集約済み #}
{% if blogs is defined and blogs|length > 0 %}
<div class="ec-categoryRole cm_blog_plugin">

    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{config.getTitleEn}}</span>
            <span class="ec-secHeading__line"></span>
            <span class="ec-secHeading__ja">{{config.getTitleJp}}</span>
        </div>
        <div class="ec-shelfRole" style="padding-top: 20px">
            <ul class="ec-shelfGrid list_blog">
                {% for blog in blogs %}
                    <li class="ec-shelfGrid__item">
                        <a href="{{ url('cm_blog_pro_page_detail', {'id': blog.slug ? blog.slug : blog.id}) }}">
                            <figure class="figure__main_image">
                            {% if blog.getMainListImage %}
                                <img src="{{ asset(blog.getMainListImage|no_image_product, 'save_image') }}" class='item_blog_image'></img>
                                {% else %}
                                <img src="{{ asset(''|no_image_product, 'save_image') }}" class='item_blog_image'></img>
                            {% endif %}
                            {% if blog.getFigCaption %}
                                <figcaption>{{ blog.getFigCaption }}</figcaption>
                            {% endif %}
                            </figure>
                        </a>
                        <h3>
                            <a href="{{ url('cm_blog_pro_page_detail', {'id': blog.slug ? blog.slug : blog.id}) }}">
                                {{ blog.getTitle|length > 40 ? blog.getTitle|striptags|replace({('&nbsp;'):' '})|slice(0, 40)|raw ~ '...' : blog.getTitle|raw }}
                            </a>
                        </h3>  
                        <div class="blog_release_date">公開日：{{ blog.release_date|date('Y年m月d日')}}</div>
                        <ul class="blog_category">
                            {% for category in blog.getBlogCategories %}
                                <li class="{{category.getCategory.class|raw}}">
                                    <a href="{{ url('cm_blog_pro_page_list', {categories: [category.getCategory().getId()]}) }}" class="list_category_link">
                                    {{ category.getCategory.getName|length > 15 ? category.getCategory.getName|striptags|replace({('&nbsp;'):' '})|slice(0, 15)|raw ~ '...' : category.getCategory.getName|raw }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endif %}