<div class="mv">

	<div class="topani">
		<div class="t-inner">
			<ul class="t-slide">
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider1.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider2.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider3.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider4.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider5.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
				<li class="t-slide_item">
					<img class="t-slide_img" src="{{ asset('assets/img/animeslider6.jpg','user_data') }}" loading="lazy" alt="" />
				</li>
			</ul>
			<div class="topa_heading">
				<p class="topani_title">北海道紋別市</p>
				<p class="topani_titles">オホーツクの自然とともに歩むまち</p>
			</div>
		</div>
	</div>

</div>

	<div class="container">
		<div class="row">
			<div class="topinaera col-lg-3 d-lg-flex">
				<div class="topin1"><img class="topin1pic" src="{{ asset('assets/img/topin1.png','user_data') }}" loading="lazy" alt="" /></div>
				<div class="topin2"><img class="topin2pic" src="{{ asset('assets/img/topin2.png','user_data') }}" loading="lazy" alt="" /></div>
			</div>
		</div>
	</div>
